.container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    gap: 1.5rem;
}

@media (min-width: 1024px) {
    .container {grid-template-columns: repeat(3,minmax(0,1fr));}
}

/* 16px */
.skeleton {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(24 24 27 / 0.3);
  }

/* 56px */
.skeleton-img {
    height: 3.5rem;
    background-color: rgb(63 63 70 / 0.8);
}

/* 8px */
.skeleton-img,
.skeleton-btn,
.skeleton-line-one,
.skeleton-line-two {
  border-radius: 0.5rem ;
}

/* 12px */
.skeleton-btn,
.skeleton-line-one,
.skeleton-line-two {
  margin-top: 0.75rem;
  height: 0.75rem;
}
  
.skeleton-btn {
    background-color: rgb(245 166 35 / 1);
    width: 25%;
}


.skeleton-line-one,
.skeleton-line-two {
  background-color: rgb(63 63 70 / 0.5);
}

.skeleton-line-one {
  width: 91.666667%;
}

.skeleton-line-two {
  width: 66.666667%;
}